.vcenter
{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.pointy-cursor
{
    cursor: pointer;
}

.fat-text
{
    font-weight: 900;
    font-size: 200%;
}

.img-text-period
{
    font-weight: 900;
    font-size: 35px;
}

.timer-minute
{
    cursor: pointer;
}

.timer-minute:hover
{
    -webkit-filter: grayscale(75%) blur(5px) brightness(200%) saturate(8); /* Safari 6.0 - 9.0 */
    filter: grayscale(75%) blur(5px) brightness(200%) saturate(8);
}

.glyphicon-timer
{
    font-size: 6em;
    color: #eee;
}

.glyphicon-timer:hover
{
    //font-size: 7em;
    color: #ddd;
}

.glyphicon-timer-period
{
    font-size: 3em;
    color: #eee;
    cursor: pointer;
}

.glyphicon-timer-period:hover
{
    color: #ddd;
}

.jumbotron
{
    background-color: #fff;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.score-text
{
    font-weight: bold;
    font-size: 100px;
}

.team-text
{
    font-weight: bold;
    font-size: 25px;
}


.title-text
{
    font-weight: bold;
    font-size: 30px;
}

.flex-container
{
    display: -webkit-flex;
    display: flex;
}

.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}